<?xml version='1.0' encoding='utf-8'?>
<robot name="LeKiwi">
    <link name="base_plate_layer1-v5">
        <inertial>
            <origin xyz="-4.730687660675253e-15 -2.7155537377808555e-05 -0.0035000000000000005" rpy="0.0 0.0 0.0" />
            <mass value="1.9468624348344596" />
            <inertia ixx="0.005637109888809055" iyy="0.005628440956780792" izz="0.0112496514690387" ixy="1.3447333053523504e-16" ixz="1.7848833522297417e-20" iyz="2.6469779601696886e-23" />
        </inertial>
        <visual name="base_plate_layer1-v5_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/base_plate_layer1-v5.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="drive_motor_mount-v11-2">
        <inertial>
            <origin xyz="-0.0005387977877578853 0.00013596517365616734 -0.0031122813365712966" rpy="0.0 -0.0 0.0" />
            <mass value="0.047242276734470956" />
            <inertia ixx="5.0825527819301506e-06" iyy="4.311179042786683e-06" izz="8.973045405784286e-06" ixy="-1.350766273806132e-08" ixz="-1.2930640441004792e-07" iyz="3.9985254125769694e-08" />
        </inertial>
        <visual name="drive_motor_mount-v11-2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/drive_motor_mount-v11-2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="ST3215_Servo_Motor-v1-2">
        <inertial>
            <origin xyz="0.010251219185305343 -0.016877183343657672 -0.021914257028179583" rpy="0.0 -0.0 0.0" />
            <mass value="0.0658962961901927" />
            <inertia ixx="1.8215748982019337e-05" iyy="1.391369165568997e-05" izz="1.030090838794644e-05" ixy="-8.885501451912254e-10" ixz="-1.7998869276666056e-09" iyz="-1.195158171269568e-07" />
        </inertial>
        <visual name="ST3215_Servo_Motor-v1-2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/ST3215_Servo_Motor-v1-2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="4-Omni-Directional-Wheel_Single_Body-v1-2">
        <inertial>
            <origin xyz="-9.805110055688405e-08 0.015875012090586064 -9.143534264177689e-08" rpy="0.0 -0.0 0.0" />
            <mass value="1.3542854082324305" />
            <inertia ixx="0.0010936167993003225" iyy="0.0018798127501507863" izz="0.0010936140861738455" ixy="-4.1677764986761383e-10" ixz="-6.83978047246436e-09" iyz="8.101180750536008e-12" />
        </inertial>
        <visual name="4-Omni-Directional-Wheel_Single_Body-v1-2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/4-Omni-Directional-Wheel_Single_Body-v1-2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="omni_wheel_mount-v5-2">
        <inertial>
            <origin xyz="5.9743256737576635e-09 -5.0148034724806225e-09 -0.005522899140934374" rpy="0.0 -0.0 0.0" />
            <mass value="0.1235708646349694" />
            <inertia ixx="1.78648151778313e-05" iyy="1.7864798695374842e-05" izz="3.26402691752235e-05" ixy="3.1863413372475765e-12" ixz="4.731358839058734e-14" iyz="-4.243561882097402e-14" />
        </inertial>
        <visual name="omni_wheel_mount-v5-2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/omni_wheel_mount-v5-2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="drive_motor_mount-v11-1">
        <inertial>
            <origin xyz="0.00038715049105024767 -0.0003986280605619008 0.0031122813365712966" rpy="0.0 -0.0 0.0" />
            <mass value="0.047242276734470956" />
            <inertia ixx="4.515720456649471e-06" iyy="4.8780113680673386e-06" izz="8.973045405784395e-06" ixy="-3.4076845832425005e-07" ixz="-9.928144805471037e-08" iyz="9.199000402824292e-08" />
        </inertial>
        <visual name="drive_motor_mount-v11-1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/drive_motor_mount-v11-1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="ST3215_Servo_Motor-v1-1">
        <inertial>
            <origin xyz="0.01025121918530536 0.027816898485662264 -0.00435175717107704" rpy="0.0 -0.0 0.0" />
            <mass value="0.0658962961901927" />
            <inertia ixx="1.82157489820195e-05" iyy="1.1100600471096564e-05" izz="1.3113999572540226e-05" ixy="2.0030228758654146e-09" ixz="1.3043646559715847e-10" iyz="-1.504623135553104e-06" />
        </inertial>
        <visual name="ST3215_Servo_Motor-v1-1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/ST3215_Servo_Motor-v1-1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="omni_wheel_mount-v5-1">
        <inertial>
            <origin xyz="0.004782968825905343 5.966875074037148e-09 0.0027614494161754166" rpy="0.0 -0.0 0.0" />
            <mass value="0.1235708646349694" />
            <inertia ixx="2.8946401592011724e-05" iyy="1.7864815177831735e-05" izz="2.155866627858642e-05" ixy="1.5521959531496902e-12" ixz="6.397966372990203e-06" iyz="-2.7831093278498503e-12" />
        </inertial>
        <visual name="omni_wheel_mount-v5-1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/omni_wheel_mount-v5-1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="4-Omni-Directional-Wheel_Single_Body-v1-1">
        <inertial>
            <origin xyz="0.01374810955311503 -0.007937600014431929 -7.105207897817323e-08" rpy="0.0 -0.0 0.0" />
            <mass value="1.3542854082324305" />
            <inertia ixx="0.0016832621879788534" iyy="0.0012901614102005313" izz="0.0010936200374455259" ixy="-0.0003404354598931583" ixz="-2.9730281413814508e-09" iyz="-4.340089721204671e-09" />
        </inertial>
        <visual name="4-Omni-Directional-Wheel_Single_Body-v1-1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/4-Omni-Directional-Wheel_Single_Body-v1-1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="drive_motor_mount-v11">
        <inertial>
            <origin xyz="0.00015164729670767764 -0.0005345932342180682 -0.003112281336571299" rpy="0.0 -0.0 0.0" />
            <mass value="0.047242276734470956" />
            <inertia ixx="4.492324498495657e-06" iyy="4.901407326221227e-06" izz="8.973045405784395e-06" ixy="-3.2726079558618873e-07" ixz="3.002495635533459e-08" iyz="-1.319752581540088e-07" />
        </inertial>
        <visual name="drive_motor_mount-v11_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/drive_motor_mount-v11.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="ST3215_Servo_Motor-v1">
        <inertial>
            <origin xyz="0.010251219185305386 -0.010539715142004517 0.02557319387622896" rpy="-6.077163357286271e-64 -0.0 0.0" />
            <mass value="0.0658962961901927" />
            <inertia ixx="1.8215748982019662e-05" iyy="1.1307607938668487e-05" izz="1.2906992104968112e-05" ixy="-1.1144727307283995e-09" ixz="1.6694504620406482e-09" iyz="1.6241389526799929e-06" />
        </inertial>
        <visual name="ST3215_Servo_Motor-v1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/ST3215_Servo_Motor-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="omni_wheel_mount-v5">
        <inertial>
            <origin xyz="-0.00478297352513172 5.966875045171349e-09 0.002761449724759064" rpy="0.0 -0.0 0.0" />
            <mass value="0.1235708646349694" />
            <inertia ixx="2.8946401518511002e-05" iyy="1.7864815177831735e-05" izz="2.155866635208752e-05" ixy="1.634145428567116e-12" ixz="-6.397966415425984e-06" iyz="2.7357957614821196e-12" />
        </inertial>
        <visual name="omni_wheel_mount-v5_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/omni_wheel_mount-v5.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="4-Omni-Directional-Wheel_Single_Body-v1">
        <inertial>
            <origin xyz="-0.013748211804798878 -0.007937431357202592 -9.805855119449092e-08" rpy="0.0 1.0947644252537633e-47 6.865185903486632e-63" />
            <mass value="1.3542854082324305" />
            <inertia ixx="0.00168326307714072" iyy="0.0012901637591839067" izz="0.001093616799300322" ixy="0.00034043401176330265" ixz="-3.0589502042488444e-09" iyz="6.131812470911233e-09" />
        </inertial>
        <visual name="4-Omni-Directional-Wheel_Single_Body-v1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/4-Omni-Directional-Wheel_Single_Body-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="servo_controller_mount-v3">
        <inertial>
            <origin xyz="-2.072913100236695e-30 -3.385736135896877e-14 0.0031621761491414137" rpy="0.0 -0.0 0.0" />
            <mass value="0.12559881449596652" />
            <inertia ixx="3.9342162518597853e-05" iyy="2.2687082259147483e-05" izz="6.101873120031777e-05" ixy="-1.0198295364639013e-21" ixz="-2.788880237858462e-21" iyz="-1.1248597539537109e-18" />
        </inertial>
        <visual name="servo_controller_mount-v3_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/servo_controller_mount-v3.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="lipo_battery_mount-v3">
        <inertial>
            <origin xyz="-0.008318729060206734 -4.4408920985006264e-17 -0.0046380028574369405" rpy="0.0 -0.0 0.0" />
            <mass value="0.2984320446179905" />
            <inertia ixx="0.00012005856115871003" iyy="0.0001714977017617139" izz="0.0002832588139475423" ixy="-8.673617379884035e-19" ixz="3.436962366808516e-06" iyz="1.3552527156068805e-20" />
        </inertial>
        <visual name="lipo_battery_mount-v3_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/lipo_battery_mount-v3.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="Battery---Battery-5.2-Ah-DC5521-Plug-v2">
        <inertial>
            <origin xyz="-7.797576827959673e-05 -8.300646300726023e-05 0.020000000000000004" rpy="0.0 -0.0 0.0" />
            <mass value="1.2215469988184764" />
            <inertia ixx="0.00047597821218279624" iyy="0.00065975897252246" izz="0.0008162228074590446" ixy="-3.1353787147811365e-06" ixz="-8.673617379884035e-19" iyz="1.3010426069826053e-18" />
        </inertial>
        <visual name="Battery---Battery-5.2-Ah-DC5521-Plug-v2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/Battery---Battery-5.2-Ah-DC5521-Plug-v2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff">
        <inertial>
            <origin xyz="2.1864399078485972e-14 1.2010287410706806e-09 -0.02499999330297986" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.0965196650850464e-06" iyy="1.096519654894581e-06" izz="1.837396493115053e-08" ixy="-3.0209076389532564e-20" ixz="-2.6974127807751317e-18" iyz="-9.149560120561933e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="base_plate_layer2-v3">
        <inertial>
            <origin xyz="1.4406667835883843e-14 -0.000737848116891558 0.0034999999999999966" rpy="0.0 -0.0 0.0" />
            <mass value="1.9153836917607525" />
            <inertia ixx="0.005568248812566009" iyy="0.00562277090534615" izz="0.01117537741776278" ixy="-1.3825833742235038e-15" ixz="1.6063950170089246e-19" iyz="1.3552527156068805e-20" />
        </inertial>
        <visual name="base_plate_layer2-v3_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/base_plate_layer2-v3.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="Camera-Mount-v8">
        <inertial>
            <origin xyz="-0.019889007343132665 0.003162253231103023 0.020248493842242046" rpy="0.0 -0.0 0.0" />
            <mass value="0.09265469509875414" />
            <inertia ixx="1.7978739433416715e-05" iyy="3.514579199775795e-05" izz="1.872943107726426e-05" ixy="2.2659313403750657e-08" ixz="-1.7551355004084038e-07" iyz="1.493014354660236e-06" />
        </inertial>
        <visual name="Camera-Mount-v8_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/Camera-Mount-v8.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="Camera-Model-v3">
        <inertial>
            <origin xyz="-0.01552129548236823 0.006733132771749837 -0.011599583774026805" rpy="0.0 2.7755575615628914e-17 0.0" />
            <mass value="0.039920058315088616" />
            <inertia ixx="5.3846132096854386e-06" iyy="7.612080863465678e-06" izz="5.20250984027362e-06" ixy="3.6969144888008537e-07" ixz="3.317962541199677e-08" iyz="-9.014266851093004e-08" />
        </inertial>
        <visual name="Camera-Model-v3_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/Camera-Model-v3.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-1">
        <inertial>
            <origin xyz="2.1866952693017084e-14 1.201028743125221e-09 -0.02499999330297986" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.0965196650850456e-06" iyy="1.0965196548945862e-06" izz="1.837396493115063e-08" ixy="-2.879912020664621e-20" ixz="-2.6969529040576923e-18" iyz="-9.149560026045249e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-1_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-2">
        <inertial>
            <origin xyz="2.1866952693017084e-14 1.201028743125221e-09 -0.02481596290467566" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.0965196650850456e-06" iyy="1.0965196548945997e-06" izz="1.837396493115063e-08" ixy="-3.3881317890172014e-20" ixz="-2.6969529040576923e-18" iyz="-9.149560068396896e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-2_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-3">
        <inertial>
            <origin xyz="-3.784219515523546e-10 -7.23282504999645e-10 -0.024999993302979855" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.0965196650850464e-06" iyy="1.0965196548945726e-06" izz="1.8373964931164182e-08" ixy="-2.710505431213761e-20" ixz="-2.6969529040576923e-18" iyz="-9.149560110748543e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-3_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-3.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-4">
        <inertial>
            <origin xyz="3.784657565120142e-10 3.1253399868091947e-09 -0.02499999330297986" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.0965196650850498e-06" iyy="1.0965196548945862e-06" izz="1.8373964931164182e-08" ixy="-2.710505431213761e-20" ixz="-2.6969529040576923e-18" iyz="-9.149560110748543e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-4_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-4.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-5">
        <inertial>
            <origin xyz="2.1862511800918584e-14 1.2010287342434368e-09 -0.02499999330297986" rpy="0.0 -0.0 0.0" />
            <mass value="0.006150070863406618" />
            <inertia ixx="1.096519665085043e-06" iyy="1.0965196548945802e-06" izz="1.837396493115063e-08" ixy="-3.218725199566341e-20" ixz="-2.6969529040576923e-18" iyz="-9.149560110748543e-14" />
        </inertial>
        <visual name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-5_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-5.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="robotskin_lidar_mount">
        <visual name="robotskin_lidar_mount_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/robotskin_lidar_mount.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="ld06_body">
        <visual name="ld06_body_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/ld06_body.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <link name="astra_pro_compact_mount">
        <visual name="astra_pro_compact_mount_visual">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/astra_pro_compact_mount.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    <joint name="base_plate_layer1-v5_baseplate2bottom_mount" type="fixed">
        <origin xyz="-0.02 -0.1 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="drive_motor_mount-v11-2" />
    </joint>
    <joint name="drive_motor_mount-v11-2_Rigid-2" type="fixed">
        <origin xyz="-0.01214 -0.015999999999999997 -0.0076100000000000004" rpy="3.141592653589793 1.5707963267948966 0" />
        <parent link="drive_motor_mount-v11-2" />
        <child link="ST3215_Servo_Motor-v1-2" />
    </joint>
    <joint name="omni_wheel_mount-v5-2_Rigid-61" type="fixed">
        <origin xyz="0.0 0.0 -0.007174999999999994" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="omni_wheel_mount-v5-2" />
        <child link="4-Omni-Directional-Wheel_Single_Body-v1-2" />
    </joint>
    <joint name="base_back_wheel" type="fixed">
        <origin xyz="0.010249999999999999 -0.035199999999999995 -0.03275" rpy="-1.5707963267948966 1.5707963267948966 0" />
        <parent link="ST3215_Servo_Motor-v1-2" />
        <child link="omni_wheel_mount-v5-2" />
        <axis xyz="0.0 0.0 -1.0" />
    </joint>
    <joint name="base_plate_layer1-v5_baseplate2right_mount" type="fixed">
        <origin xyz="0.07928203 0.022679490000000004 0.0" rpy="0.0 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="drive_motor_mount-v11-1" />
    </joint>
    <joint name="drive_motor_mount-v11-1_Rigid-35" type="fixed">
        <origin xyz="-0.007786400000000002 -0.018513550000000004 0.0076100000000000004" rpy="-7.401486830834375e-17 -1.5707963267948966 0" />
        <parent link="drive_motor_mount-v11-1" />
        <child link="ST3215_Servo_Motor-v1-1" />
    </joint>
    <joint name="base_right_wheel" type="fixed">
        <origin xyz="0.010249999999999999 0.04636234 -0.014801910000000005" rpy="-1.5707963267948966 1.5707963267948966 0" />
        <parent link="ST3215_Servo_Motor-v1-1" />
        <child link="omni_wheel_mount-v5-1" />
        <axis xyz="0.866025 1.0674582272562919e-32 0.5" />
    </joint>
    <joint name="omni_wheel_mount-v5-1_Rigid-63" type="fixed">
        <origin xyz="0.0062137300000000015 0.0 0.0035875000000000056" rpy="-1.5707963267948966 5.551115123125765e-17 -1.8816263559048997e-48" />
        <parent link="omni_wheel_mount-v5-1" />
        <child link="4-Omni-Directional-Wheel_Single_Body-v1-1" />
    </joint>
    <joint name="base_plate_layer1-v5_baseplate2left_mount" type="fixed">
        <origin xyz="-0.05928203 0.057320510000000005 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="drive_motor_mount-v11" />
    </joint>
    <joint name="drive_motor_mount-v11_Rigid-39" type="fixed">
        <origin xyz="0.019926399999999997 -0.0025135499999999933 -0.0076100000000000004" rpy="3.141592653589793 1.5707963267948966 0" />
        <parent link="drive_motor_mount-v11" />
        <child link="ST3215_Servo_Motor-v1" />
    </joint>
    <joint name="base_left_wheel" type="fixed">
        <origin xyz="0.010249999999999999 -0.010762340000000004 0.046859090000000006" rpy="-1.5707963267948966 1.5707963267948966 0" />
        <parent link="ST3215_Servo_Motor-v1" />
        <child link="omni_wheel_mount-v5" />
        <axis xyz="-0.866025 -2.0578792567370943e-32 0.5" />
    </joint>
    <joint name="omni_wheel_mount-v5_Rigid-65" type="fixed">
        <origin xyz="-0.0062137300000000015 0.0 0.003587499999999997" rpy="-1.5707963267948966 5.551115123125802e-17 4.930380657631324e-32" />
        <parent link="omni_wheel_mount-v5" />
        <child link="4-Omni-Directional-Wheel_Single_Body-v1" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-15" type="fixed">
        <origin xyz="0.0 0.06 0.0" rpy="0.0 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="servo_controller_mount-v3" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-18" type="fixed">
        <origin xyz="-0.04 -0.02 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="lipo_battery_mount-v3" />
    </joint>
    <joint name="lipo_battery_mount-v3_Rigid-19" type="fixed">
        <origin xyz="-0.011500000000000003 0.0 -0.006500000000000001" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="lipo_battery_mount-v3" />
        <child link="Battery---Battery-5.2-Ah-DC5521-Plug-v2" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-20" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff" />
    </joint>
    <joint name="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff_Rigid-21" type="fixed">
        <origin xyz="0.0 0.0 -0.05" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff" />
        <child link="base_plate_layer2-v3" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-28" type="fixed">
        <origin xyz="0.02 0.1 0.0" rpy="0.0 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="Camera-Mount-v8" />
    </joint>
    <joint name="Camera-Mount-v8_Rigid-29" type="fixed">
        <origin xyz="-0.034 0.00636666 0.03831948" rpy="3.141592653589793 -1.3962634015954636 3.141592653589793" />
        <parent link="Camera-Mount-v8" />
        <child link="Camera-Model-v3" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-30" type="fixed">
        <origin xyz="0.02 -0.1 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-5" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-31" type="fixed">
        <origin xyz="0.07660254 0.06732051 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-4" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-32" type="fixed">
        <origin xyz="-0.09660254 0.032679490000000005 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-3" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-69" type="fixed">
        <origin xyz="0.1 -0.02 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-2" />
    </joint>
    <joint name="base_plate_layer1-v5_Rigid-70" type="fixed">
        <origin xyz="-0.1 -0.02 0.0" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_plate_layer1-v5" />
        <child link="94868A713_NO-THREADS_Female-Threaded-Hex-Standoff-1" />
    </joint>
    <joint name="robotskin_lidar_mount_joint" type="fixed">
        <origin xyz="0.0 -0.115 0.007" rpy="0 0 -1.5707963267948966" />
        <parent link="base_plate_layer2-v3" />
        <child link="robotskin_lidar_mount" />
    </joint>
    <joint name="ld06_body_mount" type="fixed">
        <origin xyz="0.02 -0.005 0.012" rpy="0 0 0" />
        <parent link="robotskin_lidar_mount" />
        <child link="ld06_body" />
    </joint>
    <joint name="astra_pro_compact_mount_joint" type="fixed">
        <origin xyz="-0.1 0 0.007" rpy="0 0 1.5707963267948966" />
        <parent link="base_plate_layer2-v3" />
        <child link="astra_pro_compact_mount" />
    </joint>
    <material name="3d_printed">
        <color rgba="1.0 0.82 0.12 1.0" />
    </material>
    <material name="sts3215">
        <color rgba="0.1 0.1 0.1 1.0" />
    </material>
    <link name="so101_base_link">
        <inertial>
            <origin xyz="0.0137179 -5.19711e-05 0.0334843" rpy="0 0 0" />
            <mass value="0.147" />
            <inertia ixx="0.000114686" ixy="-4.59787e-07" ixz="4.97151e-06" iyy="0.000136117" iyz="9.75275e-08" izz="0.000130364" />
        </inertial>
        <visual>
            <origin xyz="-0.00636471 -9.94414e-05 -0.0024" rpy="1.5708 -1.67685e-15 1.5708" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/base_motor_holder_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
        <visual>
            <origin xyz="-0.00636471 -8.97657e-09 -0.0024" rpy="1.5708 -2.78073e-29 1.5708" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/base_so101_v2.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
        <visual>
            <origin xyz="0.0263353 -8.97657e-09 0.0437" rpy="-8.21148e-16 7.84513e-18 1.249e-15" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
        <visual>
            <origin xyz="-0.0309827 -0.000199441 0.0474" rpy="1.5708 -1.35493e-14 1.5708" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/waveshare_mounting_plate_so101_v2.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <link name="so101_shoulder_link">
        <inertial>
            <origin xyz="-0.0307604 -1.66727e-05 -0.0252713" rpy="0 0 0" />
            <mass value="0.100006" />
            <inertia ixx="8.3759e-05" ixy="7.55525e-08" ixz="-1.16342e-06" iyy="8.10403e-05" iyz="1.54663e-07" izz="2.39783e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.0303992 0.000422241 -0.0417" rpy="1.5708 1.5708 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
        <visual>
            <origin xyz="-0.0675992 -0.000177759 0.0158499" rpy="1.5708 -1.5708 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/motor_holder_so101_base_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
        <visual>
            <origin xyz="0.0122008 2.22413e-05 0.0464" rpy="-1.5708 2.35221e-33 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/rotation_pitch_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <link name="so101_upper_arm_link">
        <inertial>
            <origin xyz="-0.0898471 -0.00838224 0.0184089" rpy="0 0 0" />
            <mass value="0.103" />
            <inertia ixx="4.08002e-05" ixy="-1.97819e-05" ixz="-4.03016e-08" iyy="0.000147318" iyz="8.97326e-09" izz="0.000142487" />
        </inertial>
        <visual>
            <origin xyz="-0.11257 -0.0155 0.0187" rpy="-3.14159 -5.27356e-16 -1.5708" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
        <visual>
            <origin xyz="-0.065085 0.012 0.0182" rpy="3.14159 -0 -1.30911e-30" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/upper_arm_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <link name="so101_lower_arm_link">
        <inertial>
            <origin xyz="-0.0980701 0.00324376 0.0182831" rpy="0 0 0" />
            <mass value="0.104" />
            <inertia ixx="2.87438e-05" ixy="7.41152e-06" ixz="1.26409e-06" iyy="0.000159844" iyz="-4.90188e-08" izz="0.00014529" />
        </inertial>
        <visual>
            <origin xyz="-0.0648499 -0.032 0.0182" rpy="3.14159 -0 6.67202e-31" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/under_arm_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
        <visual>
            <origin xyz="-0.0648499 -0.032 0.018" rpy="-3.14159 -2.55351e-15 -1.83387e-30" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/motor_holder_so101_wrist_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
        <visual>
            <origin xyz="-0.1224 0.0052 0.0187" rpy="-3.14159 -7.88861e-31 -3.14159" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
    </link>
    <link name="so101_wrist_link">
        <inertial>
            <origin xyz="-0.000103312 -0.0386143 0.0281156" rpy="0 0 0" />
            <mass value="0.079" />
            <inertia ixx="3.68263e-05" ixy="1.7893e-08" ixz="-5.28128e-08" iyy="2.5391e-05" iyz="3.6412e-06" izz="2.1e-05" />
        </inertial>
        <visual>
            <origin xyz="8.32667e-17 -0.0424 0.0306" rpy="1.5708 1.5708 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_no_horn_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
        <visual>
            <origin xyz="0 -0.028 0.0181" rpy="-1.5708 -1.5708 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/native_wrist_flex.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <link name="so101_gripper_link">
        <inertial>
            <origin xyz="0.000213627 0.000245138 -0.025187" rpy="0 0 0" />
            <mass value="0.087" />
            <inertia ixx="2.75087e-05" ixy="-3.35241e-07" ixz="-5.7352e-06" iyy="4.33657e-05" iyz="-5.17847e-08" izz="3.45059e-05" />
        </inertial>
        <visual>
            <origin xyz="0.0077 0.0001 -0.0234" rpy="-1.5708 -5.19179e-17 -1.66533e-16" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/sts3215_03a_v1.stl" />
            </geometry>
            <material name="sts3215" />
        </visual>
        <visual>
            <origin xyz="8.32667e-17 -0.000218214 0.000949706" rpy="-3.14159 -5.55112e-17 0" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/wrist_roll_follower_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <link name="so101_gripper_frame_link">
    </link>
    <link name="so101_moving_jaw_link">
        <inertial>
            <origin xyz="-0.00157495 -0.0300244 0.0192755" rpy="0 0 0" />
            <mass value="0.012" />
            <inertia ixx="6.61427e-06" ixy="-3.19807e-07" ixz="-5.90717e-09" iyy="1.89032e-06" iyz="-1.09945e-07" izz="5.28738e-06" />
        </inertial>
        <visual>
            <origin xyz="-5.55112e-17 -5.55112e-17 0.0189" rpy="9.53145e-17 6.93889e-18 1.24077e-24" />
            <geometry>
                <mesh filename="package://lekiwi_rmf/urdf/meshes/so101/moving_jaw_so101_v1.stl" />
            </geometry>
            <material name="3d_printed" />
        </visual>
    </link>
    <joint name="so101_mount" type="fixed">
        <origin xyz="-8.90955448261e-08 0.0283127100002 0.00699999999992" rpy="-2.65358979335e-06 -7.04151787872e-12 1.57079" />
        <parent link="base_plate_layer2-v3" />
        <child link="so101_base_link" />
    </joint>
    <joint name="so101_gripper_frame_joint" type="fixed">
        <origin xyz="-0.0079 -0.000218121 -0.0981274" rpy="0 3.14159 0" />
        <parent link="so101_gripper_link" />
        <child link="so101_gripper_frame_link" />
        <axis xyz="0 0 0" />
    </joint>
    <joint name="arm_gripper" type="${arm_joint}">
        <origin xyz="0.0202 0.0188 -0.0234" rpy="1.5708 -5.24284e-08 -1.41553e-15" />
        <parent link="so101_gripper_link" />
        <child link="so101_moving_jaw_link" />
        <axis xyz="0 0 1" />
        <limit lower="-0.174533" upper="1.74533" effort="1" velocity="2" />
    </joint>
    <joint name="arm_wrist_roll" type="${roll_joint}">
        <origin xyz="5.55112e-17 -0.0611 0.0181" rpy="1.5708 0.0486795 3.14159" />
        <parent link="so101_wrist_link" />
        <child link="so101_gripper_link" />
        <axis xyz="0 0 1" />
        <limit lower="-2.74385" upper="2.84121" effort="2" velocity="3" />
    </joint>
    <joint name="arm_wrist_flex" type="${arm_joint}">
        <origin xyz="-0.1349 0.0052 3.62355e-17" rpy="4.02456e-15 8.67362e-16 -1.5708" />
        <parent link="so101_lower_arm_link" />
        <child link="so101_wrist_link" />
        <axis xyz="0 0 1" />
        <limit lower="-1.65806" upper="1.65806" effort="2" velocity="3" />
    </joint>
    <joint name="arm_elbow_flex" type="${arm_joint}">
        <origin xyz="-0.11257 -0.028 1.73763e-16" rpy="-3.63608e-16 8.74301e-16 1.5708" />
        <parent link="so101_upper_arm_link" />
        <child link="so101_lower_arm_link" />
        <axis xyz="0 0 1" />
        <limit lower="-1.69" upper="1.69" effort="4" velocity="2" />
    </joint>
    <joint name="arm_shoulder_lift" type="${arm_joint}">
        <origin xyz="-0.0303992 -0.0182778 -0.0542" rpy="-1.5708 -1.5708 0" />
        <parent link="so101_shoulder_link" />
        <child link="so101_upper_arm_link" />
        <axis xyz="0 0 1" />
        <limit lower="-1.74533" upper="1.74533" effort="4" velocity="2" />
    </joint>
    <joint name="arm_shoulder_pan" type="${arm_joint}">
        <origin xyz="0.0388353 -8.97657e-09 0.0624" rpy="3.14159 4.18253e-17 -3.14159" />
        <parent link="so101_base_link" />
        <child link="so101_shoulder_link" />
        <axis xyz="0 0 1" />
        <limit lower="-1.91986" upper="1.91986" effort="4" velocity="2" />
    </joint>
</robot>